section {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

li {
    display: flex;
    margin: 2px;
}

.icon {
    display: inline-block;
    width: 2em;
}

.animal-type{
    flex-grow: 1;
    min-width: 7em;
}

li button {
    width: 7em;
    margin-left: 1em;
    border-color: transparent; 
}

li button:hover{
    font-weight: bold;
    border-color: rgba(238, 119, 21, 0.5);
}